<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/motorcycles">Motorcycle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/categories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/inputs">Motorcycle In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/outputs">Motorcycle Out</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reports">Show Report</a>
        </li>
    </ul>
</nav>