<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../part/head.ejs')%>
</head>

<body>
  <header>
    <%- include('../part/header.ejs')%>
  </header>
  <div class="modal-content">
    <div class="card-body text-center">
      <h4 class="card-title">Motorcycle Add Page</h4>
    </div>
    <div class=" card col-8 offset-2 my-2 p-3">
      <form action="/motorcycles/add" method="post">
        <div class="form-group">
          <label for="listname">Motorcycle</label>
          <input type="text" class="form-control" name="motorcycleName" placeholder="Enter Motorcycle Name">
        </div>
        <div class="form-group">
          <label for="datepicker" id="categorylabel">Category</label>
          <select type="text" id="categoryID" class="form-select" name="categoryIdd" onChange="checkcate(this)">
            <option selected hidden>Select Category</option>
            <% datacate.forEach(ele=>{%>
              <option value="<%=ele.id%>">
                <%=ele.name.toUpperCase()%>
              </option>
              <%})%>
                <option value="new cate">New Category</option>
          </select>
        </div>
        <div class="form-group">
          <label for="datepicker" id="categorynamelabel" hidden>Category Name</label>
          <input type="text" id="categorynameID" class="form-control" name="categoryName"
            placeholder="Input Category Name" value="-" disabled hidden>
        </div>
        <div class="form-group">
          <label for="datepicker" id="translabel">Transmisi</label>
          <select type="text" id="transid" class="form-control" name="transmisi">
            <option value="" selected hidden>Select Transmisi</option>
            <option value="manual">Manual</option>
            <option value="matic">Automatic</option>
          </select>
        </div>
        <div class="form-group">
          <label for="datepicker">CC</label>
          <input type="text" class="form-control" name="cc" placeholder="Enter CC number">
        </div>
        <div class="form-group">
          <label for="datepicker">Price</label>
          <input type="text" class="form-control" name="price" placeholder="Enter Price Number">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
      </form>
      <script>
        function checkcate(elem) {
          if (document.getElementById('categoryID').value === 'new cate') {
            document.getElementById('categorynamelabel').hidden = false
            document.getElementById('categorynameID').hidden = false
            document.getElementById('categorynameID').disabled = false
          } else {
            document.getElementById('categorynamelabel').hidden = true
            document.getElementById('categorynameID').hidden = true
          }
        }
      </script>
    </div>
  </div>
</body>
</html>